<!--Navegador horizontal-->
<nav class="navbar navbar-expand-lg navb">
    <div class="container-fluid">
        <a class="navbar-brand " href="#">
            <img src="/assets/img/logoBlanco.png" alt="Logo Itesca" height="40">
        </a>
        <button *ngIf="verifyLogin()" class="btn btn-primary" type="button" (click)='activeAdminNav(true)'>
            <i class="fas fa-bars"></i> Menú
        </button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-1">
                <li class="nav-item" *ngIf="!verifyLogin()">
                    <label class="nav-link text-white" href="#" (click)="fDisplayDialogLogin()">Iniciar
                        sesión</label>
                </li>
                <li class="nav-item" *ngIf="verifyLogin()">
                    <a class="nav-link text-white" href="#" (click)="logout()">
                        Cerrar Sesion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<p-dialog header="Iniciar sesión" [(visible)]="displayDialogLogin" position="top" [modal]="true"
    [style]="{width: '25vw'}" [draggable]="false" [resizable]="false">
    <div class="p-fluid p-2 pt-3">
        <div *ngIf="loginAuthError" class="alert alert-warning" role="alert">
            Usuario o contraseña invalido.
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Nombre de usuario"
                [(ngModel)]="adminLogin.administradorUsuario">
            <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                [(ngModel)]="adminLogin.administradorPassword">
            <label for="floatingPassword">Password</label>
        </div>
        <br>
        <div class="p-field">
            <label for="">Administrador</label> <br>
            <p-inputSwitch [(ngModel)]="checkAdmin"></p-inputSwitch>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" label="Cerrar" (click)="displayDialogLogin = false"
            styleClass="p-button-secondary">
        </p-button>
        <p-button icon="pi pi-user" label="Login" (click)="login()" styleClass="p-button-primary">
        </p-button>
    </ng-template>
</p-dialog>